body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main{
  background-color: rgb(168, 133, 67);
  color: black;
}
.navbar{
  display: flex;
  text-decoration: none;
  list-style: none;
  text-align: center;
  background-color: rgb(6, 6, 37);
  color: wheat;
 
}
.navbar ul {
  display: flex;
 
  list-style: none;
  gap: 5rem;
  
 
}
.navbar ul li{
  text-decoration: none;
 

}
